@charset "ISO-8859-1";
.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    text-align: left;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #000000;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #000000;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
   /** vertical-align: middle;**/
}

